@media (min-width: 641px) {
  .cards {
    grid-template-areas:
      "card1 card2"
      "card3 card4"
      "card5 card6"
      "card7 card8";
  }
}

@media (min-width: 1025px) {
  .cards {
    grid-template-areas:
      "card1 card2 card3"
      "card4 card5 card6"
      "card7 card8 card8";
  }

  .card img:hover {
    filter: brightness(1.1);
    transform: scale(1.03);
    transition: 0.3s ease;
  }
}

.card1 { grid-area: card1; }
.card2 { grid-area: card2; }
.card3 { grid-area: card3; }
.card4 { grid-area: card4; }
.card5 { grid-area: card5; }
.card6 { grid-area: card6; }
.card7 { grid-area: card7; }
.card8 { grid-area: card8; }
